html {
    scroll-behavior: smooth;
}

body {
    margin: 0%; 
    opacity: 1;
    transition: 5s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.navbar{
    position: fixed;
    background-color: rgb(85, 15, 3);
    width: 100%;
    top: 0;
    -webkit-animation: moveNav 3s;
    animation: moveNav 3s;
}

.navbar a{
    color: white;
    display: block;
    float: left;
    position: relative;
    padding: .75vw;
    text-decoration: none;
    font-size: 1.25em;
    font-family: Tahoma;
    border-right: 1px solid white;
    -webkit-animation: moveNavtext 3.75s;
    animation: moveNavtext 3.75s;
    cursor: pointer;
}

.overlay {
    background-color: rgba(114, 37, 1, 0.2);
    position: relative;
    text-align: center;
    margin-top: 33%;
    padding: 30px;
    color: white;
    -webkit-animation: moveOverlay 3s;
    animation: moveOverlay 3s;
}

@keyframes moveNav {
    from {left: -100vw;}
    to {left:0vw;}
}

@keyframes moveNavtext {
    from {top: -100vw;}
    to {top: 0vw;}
}

@keyframes moveOverlay {
    from {top: -100vw;}
    to {top: 0vw;}
}

.navbar a:hover {
    background-color: rgb(245, 178, 152);
    color: black;
    font-weight: bold;
}

video {
    position: fixed;
    width: 100%;
    z-index: -1;
    left: -0.1px;
}

.overlay h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
}

.overlay p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
}

.container {
    display: flex;
    justify-content: center;
  }
  
.container img {
      width: 30vw;
      height: 38vw;
      border-radius: 10px;
}

.slide-text {
    color: white;
    padding: 1vw;
    position: absolute;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.6);
    width: 30vw;
    border-radius: 10px;
    text-align: center;
}

.sticky {
    position: fixed;
    bottom: 1vw;
    margin-left: 80vw;
    -webkit-animation: moveContact 3s;
    animation: moveContact 3s;
}

@keyframes moveContact {
    from {right: -100vw;}
    to {right:0vw;}
}

.slides{
    display: none;
}

.sticky button{
    padding: 1vw 5vw;
    font-size: 1.5vw;
    font-family: Helvetica;
    border: 1px solid black;
    color: white;
    background-color:rgb(85, 15, 3);
    cursor: pointer;
}

.sticky button:hover {
    background-color: rgb(255, 181, 162);
    color: black;
    font-weight: bold;
}

* { 
	box-sizing: border-box; 
}

.column1 {
    float: left;
    width: 50%;
    height: 465px;
    padding: 30px;
    background-color: rgb(110, 47, 36);
}

.column1, .column2 h3 {
    font-family: Helvetica;
    text-decoration: underline;
    font-size: 2em;
}

.column1, .column2 p {
    font-family: Helvetica;
    padding: 3%;
    letter-spacing: 1px;
    font-size: 1.3em;
}

.column1 img {
    width: 100%;
}

.column2 {
    float: left;
    width: 50%;
    height: 465px;
    padding: 30px;
    background-color: rgb(255, 181, 162);
}

.iphone img{
    height: 410px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 1px solid black;
    z-index: 10;
}

.form-container {
    width: 50vw;
    padding-left:2vw;
    padding-bottom:2vw;
    padding-top: -2vw;
    background-color: rgb(243, 239, 239);
}

.title-container {
    display: flex;
    flex-wrap: nowrap;
}

.btnClose {
    margin-left: 60%;
    border: none;
    background-color: rgb(243, 239, 239);
    color: rgb(85, 15, 3);
    font-size: 25px;
    opacity: 0.7;
    cursor: pointer;
    position: relative;
}

.btnClose:hover {
    opacity: 1;
}

.form-container h3 {
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

label {
    font-size: 2vw;
}

input {
    width: 90%;
    height: 3em;
    margin: 5px 1em;
    border-radius: 8px;
    background-color: rgb(255, 181, 162);
    border: 2px solid rgb(112, 26, 11);
}

.button {
    width: 100%;
    margin-top: 2vw;
}

.button input{
    background-color:rgb(255, 181, 162);
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    cursor: pointer;
}

.button input:hover{
    background-color: black;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    display: block;
    background-color: white;
    text-align: center;
    color: black;
}
